/*-webkit-font-smoothing: subpixel-antialiased;*/
.antialiased {-webkit-font-smoothing: antialiased !important;}
.text-bottom {vertical-align: text-bottom;}
.va-sub {vertical-align: sub;}
.inline-block {display: block !important;}
.block {display: block !important;}
.inline-block {display: inline-block !important;}
.capitalize {text-transform: capitalize;}
.center {margin-left: auto; margin-right: auto; display: table;}


.light     {font-weight: 300 !important;}
.normal    {font-weight: 400;}
.semi-bold {font-weight: 500;}
.bold 	   {font-weight: 700;}



.text-white {color: #fff !important;}
.text-black {color: #000;}
.text-blue {color: #08c;}
.underline {text-decoration: underline;}	



table.no-padding-td td {padding: 0 !important;}
table.no-border-td td {border: none !important;}

ul.no-style {list-style: none; padding-left: 0;}
ul.no-style li {padding-left: 0;}

.b-r {border-right: 1px solid;}
.b-r.b-eee  {border-color: #eee;}

ul.no-padding-li li {padding: 0;}
ul.no-margin-li li {margin: 0;}

.b-rad-0 {border-radius: 0;}
.b-rad-1 {border-radius: 1px;}
.b-rad-2 {border-radius: 2px;}
.b-rad-3 {border-radius: 3px;}
.b-rad-4 {border-radius: 4px;}
.b-rad-5 {border-radius: 5px;}
.b-rad-6 {border-radius: 6px;}

.ls0 {letter-spacing: 0;}
.ls1 {letter-spacing: 1px;}
.ls2 {letter-spacing: 2px;}
.ls3 {letter-spacing: 3px;}

.ws0 {word-spacing: 0;}
.ls-1 {letter-spacing: -1px;}
.ws-1 {word-spacing: -1px;}

.lh_10 {line-height: 10px !important;}
.lh_11 {line-height: 11px !important;}
.lh_12 {line-height: 12px !important;}
.lh_13 {line-height: 13px !important;}
.lh_14 {line-height: 14px !important;}
.lh_16 {line-height: 16px !important;}
.lh_18 {line-height: 18px !important;}
.lh_20 {line-height: 20px !important;}
.lh_22 {line-height: 22px !important;}
.lh_24 {line-height: 24px !important;}
.lh_26 {line-height: 26px !important;}
.lh_28 {line-height: 28px !important;}
.lh_30 {line-height: 30px !important;}
.lh_32 {line-height: 32px !important;}
.lh_34 {line-height: 34px !important;}
.lh_36 {line-height: 36px !important;}
.lh_38 {line-height: 38px !important;}
.lh_40 {line-height: 40px !important;}

.br-5 {margin-bottom: 5px; display: block;}
.br-10 {margin-bottom: 10px; display: block;}
.br-15 {margin-bottom: 15px; display: block;}
.br-20 {margin-bottom: 20px; display: block;}
.br-25 {margin-bottom: 25px; display: block;}
.br-30 {margin-bottom: 30px; display: block;}

.box-shadow-333 {box-shadow: 1px 1px 1px #000; border-left: 1px solid #000; border-top: 1px solid #000;}
.box-shadow-aaa {box-shadow: 1px 1px 1px #aaa; border-left: 1px solid #ccc; border-top: 1px solid #ccc;}
.box-shadow-ccc {box-shadow: 1px 1px 1px #ccc; border-left: 1px solid #eee; border-top: 1px solid #eee;}
.box-shadow-ddd {box-shadow: 1px 1px 1px #ddd; border-left: 1px solid #f5f5f5; border-top: 1px solid #f5f5f5;}
.box-shadow-eee {box-shadow: 1px 1px 1px #eee;}

.h7 {font-size: 10px; line-height: 10px;}
.upper {text-transform: uppercase;}
.absolute {position: absolute;}

.top 		{top: 0;}
.left 		{left: 0;}
.right 		{right: 0;}
.bottom 	{bottom: 0;}

.top15 		{top: 15px;}
.left15 	{left: 15px;}
.bottom15 	{bottom: 15px;}
.right15 	{right: 15px;}

.top30 		{top: 30px;}
.left30 	{left: 30px;}
.bottom30 	{bottom: 30px;}
.right30 	{right: 30px;}

.pt10		{padding-top: 10px;}

.width-80p 	{width: 80% !important;}

.b-bw1 {border-width: 1px;}
.b-bw2 {border-width: 2px;}
.b-bw3 {border-width: 3px;}
.b-bw4 {border-width: 4px;}
.b-bw5 {border-width: 5px;}

hr.header-b-b3px-eee {margin-top: 5px; border-top: none; border-bottom: 3px solid #e8edf1;}

.bgcolor-black-rgba-10p {background: rgba(0,0,0, .10);}
.bgcolor-black-rgba-20p {background: rgba(0,0,0, .20);}
.bgcolor-black-rgba-30p {background: rgba(0,0,0, .30);}
.bgcolor-black-rgba-40p {background: rgba(0,0,0, .40);}
.bgcolor-black-rgba-50p {background: rgba(0,0,0, .50);}
.bgcolor-black-rgba-60p {background: rgba(0,0,0, .60);}
.bgcolor-black-rgba-70p {background: rgba(0,0,0, .70);}
.bgcolor-black-rgba-80p {background: rgba(0,0,0, .80);}
.bgcolor-black-rgba-90p {background: rgba(0,0,0, .90);}

.bgcolor-white 			{background: #ffffff;}
.bgcolor-white-rgba-50p {background: rgba(255,255,255, .50);}
.bgcolor-light-grey		{background: #f5f5f5;}
.transparent			{background: transparent;}

.ws1 {word-spacing: 1px;}
.ws2 {word-spacing: 2px;}
.ws3 {word-spacing: 3px;}
.ws4 {word-spacing: 4px;}
.ws5 {word-spacing: 5px;}

.no-margin  {margin: 0;}
.no-padding {padding: 0;}

.p5 {padding: 5px;}
.p10 {padding: 10px;}

.padding-1 {padding: 1px !important;}

.pb0 {padding-bottom: 0px  !important;}
.pt0 {padding-top:    0px  !important;}
.pr0 {padding-right:  0px  !important;}
.pl0 {padding-left:   0px  !important;}

.pb5 {padding-bottom: 5px  !important;}
.pt5 {padding-top:    5px  !important;}
.pr5 {padding-right:  5px  !important;}
.pl5 {padding-left:   5px  !important;}

.pb10 {padding-bottom: 10px  !important;}
.pt10 {padding-top:    10px  !important;}
.pr10 {padding-right:  10px  !important;}
.pl10 {padding-left:   10px  !important;}

.pb15 {padding-bottom: 15px  !important;}
.pt15 {padding-top:    15px  !important;}
.pr15 {padding-right:  15px  !important;}
.pl15 {padding-left:   15px  !important;}

.pb20 {padding-bottom: 20px  !important;}
.pt20 {padding-top:    20px  !important;}
.pr20 {padding-right:  20px  !important;}
.pl20 {padding-left:   20px  !important;}

.pb30 {padding-bottom: 30px  !important;}
.pt30 {padding-top:    30px  !important;}
.pr30 {padding-right:  30px  !important;}
.pl30 {padding-left:   30px  !important;}

.pb40 {padding-bottom: 40px  !important;}
.pt40 {padding-top:    40px  !important;}
.pr40 {padding-right:  40px  !important;}
.pl40 {padding-left:   40px  !important;}

.pb50 {padding-bottom: 50px  !important;}
.pt50 {padding-top:    50px  !important;}
.pr50 {padding-right:  50px  !important;}
.pl50 {padding-left:   50px  !important;}

.pb60 {padding-bottom: 60px  !important;}
.pt60 {padding-top:    60px  !important;}
.pr60 {padding-right:  60px  !important;}
.pl60 {padding-left:   60px  !important;}

.mb0 {margin-bottom: 0px  !important;}
.mt0 {margin-top: 	 0px  !important;}
.mr0 {margin-right:  0px  !important;}
.ml0 {margin-left: 	 0px  !important;}

.mb5 {margin-bottom: 5px  !important;}
.mt5 {margin-top: 	 5px  !important;}
.mr5 {margin-right:  5px  !important;}
.ml5 {margin-left: 	 5px  !important;}

.mb10 {margin-bottom: 10px  !important;}
.mt10 {margin-top: 	  10px  !important;}
.mr10 {margin-right:  10px  !important;}
.ml10 {margin-left:   10px  !important;}


.m10 {margin: 0px  !important;}
.m20 {margin: 0px  !important;}
.m30 {margin: 0px  !important;}
.m40 {margin: 0px  !important;}
.m50 {margin: 0px  !important;}

.mb5 {margin-bottom: 5px  !important;}

.mr5  {margin-right: 5px  !important;}
.mr10 {margin-right: 10px !important;}
.mr15 {margin-right: 15px !important;}
.mr20 {margin-right: 20px !important;}
.mr25 {margin-right: 25px !important;}
.mr30 {margin-right: 30px !important;}
.mr35 {margin-right: 35px !important;}
.mr40 {margin-right: 40px !important;}
.mr45 {margin-right: 45px !important;}
.mr50 {margin-right: 50px !important;}
.mr55 {margin-right: 55px !important;}

.mt60 {margin-top: 60px !important;}
.mb60 {margin-bottom: 60px !important;}

.p50 {padding: 50px !important;}
.m50 {margin: 50px !important;}

.p30 {padding: 30px !important;}
.m30 {margin: 30px !important;}


.gf_droid-serif {font-family: 'Droid Serif';}
.gf_droid-sans {font-family: 'Droid Sans';}
.gf_lato {font-family: 'Lato';}
.gf_oswald {font-family: 'Oswald';}
.gf_muli {font-family: 'Muli';}
.gf_roboto-condensed {font-family: 'Roboto Condensed';}
.gf_yanone-kaffeesatz {font-family: 'Yanone Kaffeesatz';}
.gf_open-sans {font-family: 'Open Sans';}
.gf_open-sans-condensed {font-family: 'Open Sans Condensed';}
.script {font-family: 'Clicker Script';}
.gf_nunito {font-family: 'Nunito' !important;}
.gf_roboto {font-family: 'Roboto Condensed' !important;}

.navbar-nav.gf_muli > li > a {font-family: 'Muli';}


.fs_11 {font-size: 11px !important;}
.fs_12 {font-size: 12px !important;}
.fs_14 {font-size: 14px !important;}
.fs_16 {font-size: 16px !important;}
.fs_18 {font-size: 18px !important;}
.fs_20 {font-size: 20px !important;}
.fs_22 {font-size: 22px !important;}
.fs_24 {font-size: 24px !important;}
.fs_26 {font-size: 26px !important;}
.fs_28 {font-size: 28px !important;}
.fs_30 {font-size: 30px !important;}

/* navbar-dark -- inverse (black) navbar */
.header.navbar.navbar-inverse.dark-navbar .navbar-inner {background: #000 !important;}
.header.navbar.navbar-inverse.dark-navbar .navbar-inner .username {color: #fff;}

.header.navbar.navbar-inverse.dark-navbar .navbar-inner .nav .open > a, 
.header.navbar.navbar-inverse.dark-navbar .navbar-inner .nav .open > a:hover,
.header.navbar.navbar-inverse.dark-navbar .navbar-inner .nav .open > a:focus {background-color: transparent;}

.header.navbar.navbar-inverse.dark-navbar .navbar-inner .nav .h-seperate {border-left: 1px solid #333;}

.demo-center-logo {left: 0; display: block; position: absolute; text-align: center; right: 0;}
.nav {padding-left: inherit;  margin-bottom: 0; list-style: none; }
.header.navbar.navbar-inverse.dark-navbar .dropdown-menu a {color: #1b1e24; font-size: 13px; display: block; width: 95%;  float: none;}
.iconset.top-search {top: 0;}
.header .search-form {margin-left: 10px !important;}
/* navbar-dark -- inverse (black) navbar */









table.table tr.b-t-bw-3px td {border-top-width: 3px !important;}

sup.with_lrg_icon {top: -4em; left: -1em;}

.no-border {border: none !important;}


.portfolio-grid ul li {
	float: left;
	margin: 0 0 1% 1%;
	padding: 0;
	background: #fff;
	box-shadow: 1px 1px 1px #ccc;
}

.inner-menu ul.big-items li a {
	color: #c3c7d3;
	font-size: 18px;
	font-family: 'Muli';
}

.item-info-overlay:hover {
	opacity: 1;
	background: rgba(10, 166, 153, 0.80);
}

.item-info {
 	position: absolute;
 	color: #fff;
 	word-spacing: 3px;
	font-family: 'lato', sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 12px;
}

.inner-menu ul.small-items li {padding-top: 0 !important; padding-bottom: 0 !important;}
.inner-menu ul.big-items ul.small-items li a {
	font-size: 13px;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 20px;
	font-family: 'Muli';
	/*padding-left: 35px !important;*/
	color: #979eb2;
	text-decoration: none;
	font-weight: 300;
	background: none;
}


.page-sidebar.mini {
	width: 50px;
	overflow: visible !important;
	background-color: #0aa699 !important;
	height: 100%;
	margin-top: 0;
	position: fixed;
	z-index: 90;
}